
@media screen and (max-width: 600px) {

    header h1{
        font-size: 2em;
    }
    header p{
        font-size: 1em;
    }


    #nav-top #nav-two{
        display: none;
    }


    article h1{
        font-size: 1em;
        padding: .5em;
    }

    article aside #column{
        column-count: 1;
    }


    article aside #div-column{
        font-size: 1.2em;
    }


    article p {
        line-height: 1.8em;
      } 

      #irina-foto{
        width: 300px;
       }

       #dan-droids{
        width: 275px;
        height: 275px;
    }

    #video{
        width: 400px;
        height: 250px;
    }

    #video{
        width: 350px;
        height: 200px;
    }

    article aside h3{
        font-size: 1.1em;
    }

}







    


